body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.post-card, .navbar, .footer {
  background-color: var(--background-color);
  color: var(--text-color);
}

.icon {
  color: var(--icon-color);
}


