// Graphical variables

@import "config/fonts";
@import "config/colors";


// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.form-group h4 {
  font-size: 1.25rem; /* You can adjust this size as needed */
  font-weight: bold;  /* Bold labels for emphasis */
   /* Add spacing below the label */
  margin-top: 30px;
  color: black;
}

.existing-photos h4 {
  font-size: 1.25rem; /* You can adjust this size as needed */
  font-weight: bold;  /* Bold labels for emphasis */
   /* Add spacing below the label */
  margin-top: 30px;
  color: black;
}

.form-group-photos {
  margin-top: 30px; /* Adjust the value as needed */
}

.form-group-button {
  margin: 30px; /* Adjust the value as needed */
}

.post-image-form {
  max-width: 150px; /* Set maximum width to make images smaller */
  max-height: 150px; /* Set maximum height */
  object-fit: cover; /* Ensure images maintain their aspect ratio */
  margin: 10px; /* Add margin for spacing */
}
