// Graphical variables

@import "config/fonts";
@import "config/colors";


// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.form-group h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 30px;
  color: black;
}

.existing-media h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 30px;
  color: black;
}

.form-group-photos {
  margin-top: 30px;
}

.form-group-button {
  margin: 30px;
}

.post-image-form {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  margin: 10px;
}

.post-video-form {
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
  margin: 10px;
}

/* application.scss */

/* Custom styles for the vote button */
.custom-vote-button {
  font-weight: bold;
  padding: 4px 4px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-vote-button.upvote {
  background-color: hsl(120, 1%, 30%);
  color: white;
}

.custom-vote-button.downvote {
  background-color: hsl(120, 1%, 30%);
  color: white;
}

.custom-vote-button:hover {
  background-color: darken(hsl(120, 1%, 30%), 10%);
}
