/* app/assets/stylesheets/users.scss */
.card-img-top {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 20px auto;
}

.user-username {
  font-size: 30px; /* Adjust to desired size */
}

.user-intro {
  font-size: 18px; /* Adjust to desired size */
}

.user-bio {
  font-size: 16px; /* Adjust to desired size */
}

.post-header{
  padding-top: 13px;
}
